<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dyamixel_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dyamixel_arm urdf file -->
    <xacro:include filename="$(find dynamixel_arm_description)/urdf/arm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="dyamixel_arm.ros2_control.xacro" />


    <xacro:dyamixel_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
